.h-pagination-pages{
    -moz-user-select:none;
}
.h-pagination-pages-box,.h-pagination-jump-box{
    display: inline-block;
}
.h-pagination-pages-prev,.h-pagination-pages-next,.h-pagination-pages-end,.h-pagination-pages-box>a{
    border: 1px solid #e2e2e2;
    color: #333;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 30px;
    margin: 0 -1px -1px 0;
    padding: 0 15px;
    vertical-align: middle;
    cursor: pointer;
}
.h-pagination-hidden{
    display: none;
}
.h-pagination-pages-box .h-pagination-now-pages{
    border: none;
    color: #fff;
    height: 30px;
}
.h-pagination-jump-box .h-pagination-jump-container{
    color: #999;
    display: inline-block;
    font-size: 12px;
    padding-left: 20px;
}
.h-pagination-jump-box .h-pagination-jump-container .h-pagination-skip{
    border: 1px solid #e2e2e2;
    color: #333;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    margin: -1px 8px 0;
    width: 35px;
    vertical-align: middle;
    text-align: center;
}
.h-pagination-jump-box .h-pagination-jump-container button{
    border: 1px solid #e2e2e2;
    color: #333;
    background: #fff;
    vertical-align: middle;
    margin:-1px 0 0 8px;
    height: 30px;
    padding: 0 10px;
}